<!doctype html>
<html>

<head>
	<title>Title</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	{% load staticfiles %}
	<script src="{% static "js/plot.js" %}"></script>
	<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>
	<div>
		<div>
			<h1>Click a Point to Generate Music</h1>
			<a id='midi'>None</a>
		</div>
		<div style="width:75%">
			<canvas id="canvas"></canvas>
		</div>
	</div>
</body>

</html>
